body {

background-color: #ffffff !important;

}

.hero_image_style {

  background-image: url(../img/cannon_self.jpg);
  background-size: cover;
  height: 40rem;
}

.hero_image_style_holiday {

  background-image: url(../img/cannon_self.jpg);
  background-size: cover;
  height: 40rem;
}

/* font-family: 'Sawarabi Gothic', sans-serif;
font-family: 'Dosis', sans-serif; */

.hero_banner_style {

  background-color: #006400 !important;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #333333;
}

h1 {

  font-family: 'Sawarabi Gothic', sans-serif;
}

.header_font_style {

  font-family: 'Sawarabi Gothic', sans-serif;
}
