body {




}


.thumb1 {
  background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 250px;
  height: 250px;
}


.image-container {
  /* background-image: (../img/) */
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
